Makefile
Makefile.in
aclocal.m4
config.*
configure
debian
libtool
stamp-h
stamp-h.in
defaults.h
ltmain.sh
panda-config
autom4te.cache
stamp-h1
*.swp
*.tar.gz
*.o
*.lo
*.la
*.deps
*.libs
**/*.a
mkinstalldirs
configure-stamp
build-indep-stamp
build-arch-stamp
m4
app/monpe
tools/red2conv
tools/red2embed
tools/red2fill
tools/red2inc
tools/red2rec
tools/red2test
mkinstalldirs
