Makefile
Makefile.in
aclocal.m4
config.*
configure
debian
libtool
stamp-h
stamp-h.in
defaults.h
ltmain.sh
panda-config
autom4te.cache
stamp-h1
*.swp
*.tar.gz
*.o
*.lo
*.la
*.deps
*.libs
*.sheet
*.pot
**/*.a
mkinstalldirs
configure-stamp
build-indep-stamp
build-arch-stamp
m4
app/monpe
app/run_dia.sh
tools/red2conv
tools/red2embed
tools/red2fill
tools/red2inc
tools/red2rec
tools/red2test
tools/red2cat
tools/red2mod
tools/red2info
mkinstalldirs
compile
core-translation-report
doc/en/dia.1
doc/eu/dia.1
doc/fr/dia.1
monpe.desktop
monpe.desktop.in  
monpe.keys
po/.intltool-merge-cache
po/.intltool-merge-cachemake
po/POTFILES
po/ja.gmo
po/monpe.pot
po/stamp-it
po/ja.gmo
tests/boundingbox
tests/objects
INSTALL
depcomp
install-sh
lib/diamarshal.c
lib/diamarshal.h
sheets/sheet-translation-report
missing
